openapi: 3.1.0
info:
  title: Microsoft OneNote API (Microsoft Graph) Notebooks SectionGroups API
  description: Minimal OpenAPI definition for the OneNote REST API exposed via Microsoft Graph for managing notebooks, sections, sectionGroups, and pages.
  version: v1.0
  x-generated-from: https://learn.microsoft.com/en-us/graph/integrate-with-onenote
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0
security:
- bearerAuth: []
tags:
- name: SectionGroups
paths:
  /me/onenote/notebooks/{notebookId}/sectionGroups:
    parameters:
    - $ref: '#/components/parameters/NotebookId'
    get:
      tags:
      - SectionGroups
      summary: List section groups in notebook
      operationId: listNotebookSectionGroups
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericList'
    post:
      tags:
      - SectionGroups
      summary: Create section group in notebook
      operationId: createNotebookSectionGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '201':
          description: Created
  /me/onenote/sectionGroups:
    get:
      tags:
      - SectionGroups
      summary: List section groups
      operationId: listSectionGroups
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericList'
components:
  parameters:
    NotebookId:
      in: path
      name: notebookId
      required: true
      schema:
        type: string
  schemas:
    GenericObject:
      type: object
      additionalProperties: true
    GenericList:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/GenericObject'
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
